doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="../styl/style.css")
    script(src="../coffee/script.js" charset="utf-8")
    title uncompressor
  body
    script(src="//localhost:35729/livereload.js" charset="utf-8")
