doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="../styl/styl.css")
    link(rel="stylesheet" href="../sass/sass.css")
    script(src="../coffee/coffee.js" charset="utf-8")
    title decompressor
  body
    script(src="//localhost:35729/livereload.js" charset="utf-8")
